
body{
  font-family:Arimo', sans-serif' ;
  color: #495057;
  font-size: 1.3rem;
}

h1{
  text-align: center;
  color: #0A3871;
  font-family: 'Arimo', sans-serif;
  font-style: regular;
}



/* ESTILOS DE LA INTRODUCCIÓN */
.introduccion{
  text-align: center;
}





/* ESTILOS DE CONTAINER ENCRIPTADOR */

.ingresar-texto input{
  display: block;
  font-size: 1rem;
  margin: 15px auto;
  width: 240px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.botones > input:nth-of-type(1){
  background-color: #0A3871;
  color: #FFFF;
}

.botones > input:nth-of-type(2){
  color: #0A3871;
  background-color: #FFFF;
  border: solid #0A3871 1px;
}



.ingresar-texto textarea{
display: block;
width: 75%;
height: 90%;
margin: 0 auto;
resize: none;
font-size: 1.3rem;
}





/* ESTILO DEL RESULTADO */

.mensajeSinResultado p{
  font-size: 2rem;
  font-weight: bold;
  line-height: 120%;
  color: #343A40;
  text-align: center;
  margin: 0;
}

div > p:nth-of-type(2) {
  font-size: 1.3rem;
  line-height: 150%;
  font-weight: 100;
}

.imgSinResultado img{
  display: block;
  margin: 10px auto;
}

.mensaje textarea{
  display: block;
width: 75%;
height: 40%;
margin: 0 auto;
resize: none;
font-size: 1.3rem;
}

.mensaje button{

  display: block;
  font-size: 1rem;
  margin: 15px auto;
  width: 240px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: #0A3871;
  background-color: #FFFF;
  border: solid #0A3871 1px;
}



/* OCULTAR EL BLOQUE */
.ocultar{
  visibility: hidden;
  display: none;
}

/* VISIVILIZAR EL BLOQUE */

.visible{
  visibility: visible;
  display: block;
}




@media (min-width: 576px) { 

}

/* cambiar los botones y que esten al lado */
@media (min-width: 768px) {
  body{
    background-color: aqua;
  }

  .botones{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 70%;
    margin: 10px auto;
  }
 }

 /* Tener 2 columnas */
@media (min-width: 992px) { 
  body{
    background-color: #FFFF;
  }
  .container-encriptador{
    display: flex ;
    flex-direction: row;
  }
  .ingresar-texto{
    flex-grow: 1;
  }
  
 }

@media (min-width: 1200px) {

 }

@media (min-width: 1400px) { 

 }




